{{- with .Values }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fhir-server-exporter.fullname" $ }}
  labels:
    {{- include "fhir-server-exporter.labels" $ | nindent 4 }}
    app.kubernetes.io/component: fhir-server-exporter
  {{- with $.Values.deploymentAnnotations }}
  annotations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
spec:
  replicas: {{ .replicaCount }}
  selector:
    matchLabels:
      {{- include "fhir-server-exporter.selectorLabels" $ | nindent 6 }}
      app.kubernetes.io/component: fhir-server-exporter
  template:
    metadata:
      {{- with $.Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "fhir-server-exporter.selectorLabels" $ | nindent 8 }}
        app.kubernetes.io/component: fhir-server-exporter
    spec:
      {{- with $.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .podSecurityContext | nindent 8 }}
      serviceAccountName: {{ include "fhir-server-exporter.serviceAccountName" $ }}
      automountServiceAccountToken: {{ .serviceAccount.automountServiceAccountToken }}
      containers:
        - name: fhir-server-exporter
          securityContext:
            {{- toYaml .securityContext | nindent 12 }}
          image: "{{ .image.registry }}/{{ .image.repository }}:{{ .image.tag }}"
          imagePullPolicy: {{ .image.pullPolicy }}
          ports:
            - name: metrics
              containerPort: 9797
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /metrics
              port: metrics
          {{- with .livenessProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}
          readinessProbe:
            httpGet:
              path: /metrics
              port: metrics
          {{- with .readinessProbe }}
            initialDelaySeconds: {{ .initialDelaySeconds }}
            periodSeconds: {{ .periodSeconds }}
            timeoutSeconds: {{ .timeoutSeconds }}
            successThreshold: {{ .successThreshold }}
            failureThreshold: {{ .failureThreshold }}
          {{- end }}
          {{- if .resources }}
          resources: {{- toYaml .resources | nindent 12 }}
          {{- else if ne .resourcesPreset "none" }}
          resources: {{- include "common.resources.preset" (dict "type" .resourcesPreset) | nindent 12 }}
          {{- end }}
          env:
            - name: DOTNET_EnableDiagnostics
              value: "0"
            - name: FhirServerUrl
              value: {{ tpl .fhirServerUrl $ }}
            - name: FhirServerName
              value: {{ tpl .fhirServerName $ }}
            - name: FetchIntervalSeconds
              value: {{ .fetchIntervalSeconds | quote }}
          {{- if .extraEnv }}
          {{- toYaml .extraEnv | nindent 12 }}
          {{- end }}
          volumeMounts:
          {{- if .customQueries }}
            - name: custom-queries
              mountPath: /opt/fhir-server-exporter/queries.yaml
              subPath: queries.yaml
              readOnly: true
          {{- end }}
          {{- if .extraVolumeMounts }}
            {{- toYaml .extraVolumeMounts | nindent 12 }}
          {{- end }}
      {{- with .nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- if .customQueries }}
        - name: custom-queries
          configMap:
            name: {{ include "fhir-server-exporter.fullname" $ }}-custom-queries
      {{- end }}
      {{- if .extraVolumes }}
        {{- toYaml .extraVolumes | nindent 8 }}
      {{- end }}
{{- end }}
