apiVersion: v2
name: fhir-server
description: A Helm chart for deploying the Microsoft FHIR Server for Azure.
home: https://github.com/microsoft/fhir-server
keywords:
  - fhir
  - fhir-server
maintainers:
  - name: chgl
sources:
  - https://github.com/microsoft/fhir-server
type: application
version: 0.12.12
deprecated: false
dependencies:
  - name: common
    repository: oci://ghcr.io/chgl/charts
    version: 0.1.0
annotations:
  artifacthub.io/changes: |-
    # When using the list of objects option the valid supported kinds are
    # added, changed, deprecated, removed, fixed and security.
    - kind: changed
      description: "Updated docker.io/curlimages/curl docker.io/curlimages/curl docker.io/curlimages/curl docker.io/curlimages/curl docker.io/curlimages/curl to sha256:935d9100e9ba842cdb060de42472c7ca90cfe9a7c96e4dacb55e79e560b3ff40"
