apiVersion: v2
name: magnifhir
description: A Helm chart for deploying the magniFHIR app on Kubernetes.
type: application
home: https://github.com/chgl/magniFHIR
sources:
  - https://github.com/chgl/magniFHIR
maintainers:
  - name: chgl
keywords:
  - "fhir"
  - "healthcare"
  - "electronic health record"
  - "blazor"
kubeVersion: ">= 1.19.0"
deprecated: false
dependencies:
  - name: common
    repository: oci://ghcr.io/chgl/charts
    version: 0.1.0
version: 1.3.66
appVersion: 1.x
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/screenshots: |
    - title: Configure multiple FHIR servers to connect to
      url: https://github.com/chgl/magniFHIR/raw/master/docs/img/screenshots/server-selection.png
    - title: List all Patient resources stored in the server
      url: https://github.com/chgl/magniFHIR/raw/master/docs/img/screenshots/patient-browser.png
    - title: See a Patient's conditions, observations, and medications
      url: https://github.com/chgl/magniFHIR/raw/master/docs/img/screenshots/patient-record-conditions.png
  artifacthub.io/changes: |-
    # When using the list of objects option the valid supported kinds are
    # added, changed, deprecated, removed, fixed and security.
    - kind: changed
      description: "Updated docker.io/curlimages/curl docker.io/curlimages/curl docker.io/curlimages/curl docker.io/curlimages/curl docker.io/curlimages/curl to sha256:d94d07ba9e7d6de898b6d96c1a072f6f8266c687af78a74f380087a0addf5d17"
