name: Release Charts

on:
  push:
    branches:
      - master
    paths:
      - "charts/**"

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-24.04
    container: ghcr.io/chgl/kube-powertools:v2.4.39@sha256:0fbf4879d24aee188687f3c8c84d5f94e3a4b39530ebfd5296d0ec3299ccbfa5
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Add workspace as safe directory
        run: |
          git config --global --add safe.directory /__w/charts/charts

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Update dependencies
        run: find charts/ -maxdepth 1 ! -path charts/ -type d -exec helm dependency update {} \;

      - name: Generate changelogs
        run: generate-chart-changelog.sh

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@cae68fefc6b5f367a0275617c9f83181ba54714f # v1.7.0
        with:
          config: .github/ct/ct.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      - name: Login to GitHub Container Registry
        run: |
          echo "${GHCR_REGISTRY_PASSWORD}" | helm registry login ghcr.io --username "${GHCR_REGISTRY_USERNAME}" --password-stdin
          echo "${GHCR_REGISTRY_PASSWORD}" | crane auth login ghcr.io --username "${GHCR_REGISTRY_USERNAME}" --password-stdin
        env:
          GHCR_REGISTRY_USERNAME: "${{ github.actor }}"
          GHCR_REGISTRY_PASSWORD: "${{ secrets.GITHUB_TOKEN }}"

      - name: Push Charts to ghcr.io
        run: |
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" oci://ghcr.io/${{ github.repository }} 2> .digest
            OCI_ARTIFACT_PATH="$(awk -F "[, ]+" '/Pushed/{print $NF}' < .digest)"
            OCI_ARTIFACT_DIGEST="$(awk -F "[, ]+" '/Digest/{print $NF}' < .digest)"
            cosign sign --yes "${OCI_ARTIFACT_PATH}@${OCI_ARTIFACT_DIGEST}"
          done

      - name: Generate kubescape reports
        run: |
          kubescape scan framework AllControls --keep-local --format=html --output=kubescape-reports/allcontrols.html charts/

      - name: "Upload kubescape reports"
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: kubescape-reports
          path: kubescape-reports/
          retention-days: 5

  update-kubescape-reports:
    runs-on: ubuntu-24.04
    container: ghcr.io/chgl/kube-powertools:v2.4.39@sha256:0fbf4879d24aee188687f3c8c84d5f94e3a4b39530ebfd5296d0ec3299ccbfa5
    permissions:
      contents: write
    needs:
      - release
    steps:
      - name: Add workspace as safe directory
        run: |
          git config --global --add safe.directory /__w/charts/charts

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: gh-pages
          persist-credentials: true

      - name: Download reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: kubescape-reports
          path: "kubescape-reports/"

      - uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9.1.4
        with:
          add: "kubescape-reports/"
          message: "docs: updated kubescape reports"
