name: Renovate
on:
  # “At minute 0 past every 6th hour.”
  schedule:
    - cron: "0 */6 * * *"
  push:
    branches:
      - master
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  renovate:
    runs-on: ubuntu-24.04
    if: ${{ github.repository == 'chgl/charts' }}
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: |
            charts

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@ea850436a5fe75c0925d583c7a02c60a5865461d # v43.0.20
        with:
          token: "${{ steps.app-token.outputs.token }}"
          configurationFile: .renovaterc.json
          mount-docker-socket: true
        env:
          LOG_LEVEL: "debug"
          RENOVATE_REPOSITORIES: "${{ github.repository }}"
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: ".*"
